spring:
  datasource:
    url: jdbc:mysql://localhost:3306/taskmasterdev?createDatabaseIfNotExist=true
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false