spring:
  datasource:
    url: jdbc:mysql://localhost:3306/taskmaster_prod
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false